[project]
	description = API FOTAA (Flash-Over-The-Air-Arduino ) 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JeD (Jean-Emile)
[access "refs/for/refs/*"]
	read = group user/JeD (Jean-Emile)
	push = group user/JeD (Jean-Emile)
	label-Code-Review = -2..+2 group user/JeD (Jean-Emile)
	label-Verified = -1..+1 group user/JeD (Jean-Emile)
	rebase = group user/JeD (Jean-Emile)
	removeReviewer = group user/JeD (Jean-Emile)
	submit = group user/JeD (Jean-Emile)
[access "refs/heads/*"]
	read = group user/JeD (Jean-Emile)
	create = group user/JeD (Jean-Emile)
	push = +force group user/JeD (Jean-Emile)
	pushMerge = group user/JeD (Jean-Emile)
[access "refs/tags/*"]
	push = +force group user/JeD (Jean-Emile)
	pushTag = group user/JeD (Jean-Emile)
	pushSignedTag = group user/JeD (Jean-Emile)
